<h1><%= t ".h1" %></h1>

<p><%= t".greeting" %> <%= @resource.full_name %>!</p>

<p><%= t ".p1_password_reset" %></p>

<%= link_to t(".reset_password"), edit_password_url(@resource, reset_password_token: @token) %>

<p><%= t ".p2_password_reset" %></p>

<p><%= t ".p3_password_reset" %></p>
